*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    /* background-color: blue; */
}

.navbar{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px 0;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar li:hover{
    cursor: pointer;
    opacity: 0.8;
}

.content{
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-decoration: none;
}